
    {% if not drafts|length %}
        <h1 style="color: rgba(0, 0, 0, 0.2);">
            Aucun draft pour le moment...
        </h1>
    {% else %}
        <ul class="draft-list read-list">
        {% for draft in drafts %}
            <li id="draft-element-{{ draft.draft_id }}" data-id="{{ draft.draft_id }}">
                <a class="draft-item--li">
                <div class="draft-title">
                    <h1>{{ draft.draft_name }}</h1>
                         <span class="list-visibility">
                            crée <span class="raw-date" data-date="{{ draft.draft_date_c }}">le {{ draft.draft_date_c }} </span> par {{ draft.c_user.login }} ·
                            {% if draft.public == 0 %}
                                <span class="icon-lock"></span> Visible par vous uniquement
                            {% elseif draft.public == 1 %}
                                <span class="icon-marvin"></span> Visible par les membres
                            {% elseif draft.public == 2 %}
                                <span class="icon-earth"></span> Visible par tout le monde
                            {% endif %}
                        </span>
                </div>
                <div class="draft-text">
                    <p>{{ truncate(draft.draft_content, 400, " (...)") }}</p>
                </div>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
