
<ul class="horizontal-list" id="drafts-menu">
    <li data-index-toggle="1" data-load-target="Drafts/create" data-expand><a><span class="icon-pencil"></span> <span class="side-legend"> Ecrire</span></a></li>
    <li data-index-toggle="2" data-load-target="Drafts/all" data-expand><a><span class="icon-file2"></span> <span class="side-legend"> Derniers drafts</span></a></li>
    <li data-index-toggle="3" class="active"><a><span class="icon-user4"></span> <span class="side-legend"> Mes drafts</span></a></li>
</ul>

<ul id="drafts-panel">
    <li data-index="3" style="display: block;">

    {% if not userdrafts|length %}
        <h1 style="color: rgba(0, 0, 0, 0.2);">
            Aucun draft pour le moment...
        </h1>
    {% else %}
        <ul class="draft-list read-list">
        {% for draft in userdrafts %}
            <li>
                <a class="draft-item--li">
                <div class="draft-title">
                    <h1>{{ draft.draft_name }}</h1>
                         <span class="list-visibility">
                            <span class="raw-date" data-date="{{ draft.draft_date_c }}">le {{ draft.draft_date_c }} </span> ·
                            {% if draft.public == 0 %}
                                <span class="icon-lock"></span> Visible par vous uniquement
                            {% elseif draft.public == 1 %}
                                <span class="icon-marvin"></span> Visible par les membres
                            {% elseif draft.public == 2 %}
                                <span class="icon-earth"></span> Visible par tout le monde
                            {% endif %}
                        </span>
                </div>
                <a data-action="star" data-id="{{ draft.draft_id }}" class="draft-text middle">
                    <span data-star
                        class="icon-{{ draft.c_drafts_like.id_draft_like|length ? 'starfull' : 'starempty' }}"></span> {{ draft.c_drafts_like.id_draft_like|length }}
                </a>
                <a class="draft-text middle"><span class="icon-eye3"></span> {{ draft.draft_views }} vues</a>
                <a class="btn-draft-edit" data-draft-load data-draft-id="{{ draft.draft_id }}"><span class="icon-pencil"></span> Edit</a>
                <a class="btn-draft-read" data-id="{{ draft.draft_id }}"><span class="icon-eye"></span> Read</a>
                <a class="btn-draft-delete" data-id="{{ draft.draft_id }}"><span class="icon-trash"></span> Delete</a>
                {#
                {#
                <div class="draft-text">
                    <p>{{ truncate(draft.draft_content, 400, " (...)") }}</p>
                </div>
                #}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    </li>
</ul>

<script>
    Muffin.bindAjaxEvents();
    Muffin.draft.init();
    Muffin.draft.watch();
</script>

