
<ul class="horizontal-list" id="drafts-menu">
    <li data-index-toggle="1" data-load-target="Drafts/create" data-expand><a><span class="icon-pencil"></span> <span class="side-legend"> Ecrire</span></a></li>
    <li data-index-toggle="2" class="active"><a><span class="icon-file2"></span> <span class="side-legend"> Derniers drafts</span></a></li>
    <li data-index-toggle="3" data-load-target="Drafts/mine" data-expand><a><span class="icon-user4"></span> <span class="side-legend"> Mes drafts</span></a></li>
</ul>

<ul id="drafts-panel">
    <li data-index="2" style="display: block;">

    {% if not drafts|length %}
        <h1 style="color: rgba(0, 0, 0, 0.2);">
            Aucun draft pour le moment...
        </h1>
    {% else %}
        <ul class="draft-list read-list">
        {% for draft in drafts %}
            <li id="draft-element-{{ draft.draft_id }}" data-id="{{ draft.draft_id }}">
                <a class="draft-item--li">
                <div class="draft-title">
                    <h1>{{ draft.draft_name }}</h1>
                         <span class="list-visibility">
                            <span class="raw-date" data-date="{{ draft.draft_date_c }}">le {{ draft.draft_date_c }} </span>
                             · par {{ draft.c_user.c_42_logins.prenom|lower }} {{ draft.c_user.c_42_logins.nom|lower }}

                            {#
                            {% if draft.public == 0 %}
                                <span class="icon-lock"></span>
                            {% elseif draft.public == 1 %}
                                <span class="icon-marvin"></span>
                            {% elseif draft.public == 2 %}
                                <span class="icon-earth"></span>
                            {% endif %}
                            #}
                        </span>
                </div>
                {#
                <div class="draft-text">
                    <p>{{ truncate(draft.draft_content, 400, " (...)") }}</p>
                </div>
                #}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    </li>
</ul>

<script>
    Muffin.bindAjaxEvents();
    Muffin.draft.init();
    Muffin.draft.watch();
</script>

