<div class="loading">
    <div id="draft-read" class="drafter-render">
        <h1 id="draft-read-title">{{ draft.draft_name }}
            <small class="list-visibility">
                <span class="icon-clock"></span>
                <span class="raw-date" data-date="{{ draft.draft_date_c }}">Crée le {{ draft.draft_date_c }} </span>
                 · <span class="icon-quill"></span>
                <span class="up">{{ draft.c_user.c_42_logins.prenom|lower }} {{ draft.c_user.c_42_logins.nom|lower }}</span>
                <span class="on-hover"> · <a data-action="star" data-id="{{ draft.draft_id }}"><span data-star class="icon-starempty"></span></a></span>

            </small>
        </h1>
        <div id="draft-read-content">{{ draft.draft_content }}</div>
        <div id="draft-read-footer">
            écrit par {{ draft.c_user.c_42_logins.prenom|lower }} {{ draft.c_user.c_42_logins.nom|lower }}
            <span class="hover"> · <span class="raw-date" data-date="{{ draft.draft_date_c }}">Crée le {{ draft.draft_date_c }}</span>
                         · <span class="views-count">{{ draft.draft_views }} vues</span>
        </div>
    </div>
    <div id="draft-right">
    <span class="list-icon icon-menu3"></span>
    <ul>
        <li class="list-header">
        <div class="stats">
            <div class="stats-views"> <span class="icon-eye3"> {{ draft.draft_views }} vues</span></div>
            <div class="stats-likes"><a data-action="star" class="button"><span class="icon-starempty" data-star></span> {{ likes|length }} star</a></div>
        </div>
        </li>
        <li data-action="back-to-top"><span><span class="icon-arrow-up3"></span> Haut de page</span></li>
        <li data-action="back-to-list"><span><span class="icon-list"></span> Tous les articles</span></li>
        {% for elt in drafts %}
            {% if elt.draft_id != draft.draft_id %}
            <li id="draft-element-{{ elt.draft_id }}" data-id="{{ elt.draft_id }}">
                    <span>{{ elt.draft_name }}</span>
                    <span class="grey">
                        Par {{ elt.c_user.login|lower }} ·
                        <span class="raw-date" data-date="{{ elt.draft_date_c }}">Crée le {{ elt.draft_date_c }}</span>
                    </span>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
<div>
    {{ dump(draft.c_drafts_like) }}
<script>
    $(".raw-date").each(function()
    {
        $(this).html( moment( $(this).attr("data-date") ).fromNow() );
    });

    $("li[data-id]").click(function(){
        Muffin.draft.read($(this).attr("data-id"));
    });

    // star if starred
    {% if draft.c_drafts_like|length %}
        console.log("star");
        {% else %}
        console.log("not star");
    {% endif %}

    $("[data-action='star']").click(function()
    {
        var ctn = $(this);
        $.get("Drafts/star/" + ctn.attr("data-id"), function(e)
        {
            if (e == "1")
            {
                $("[data-star]").removeClass("icon-starempty").addClass('icon-starfull');
            }
            else if (e == "-1")
            {
                $("[data-star]").removeClass("icon-starfull").addClass('icon-starempty');
            }
        });
    });

    $('li[data-action="back-to-list"]').click(function(){
        Muffin.goToUrl("Drafts/all", "expanded")
    });
    var ctnt = _.unescape($("#draft-read-content").html());
    var mkd = marked(ctnt);
    $("#draft-read-content").html(mkd);
    Prism.highlightAll();
</script>
