<div>
	<h1>Réunions à venir</h1>
	<ul class="liste-reunions">
		{% for reunion in a_venir %}
		    <li>
		    	<div class="icon">
		    		<span class="icon-{{ reunion.c_competences.icone }}"></span>
		    	</div>
		    	<div class="content">
				    <p>
					    Réunion sur <b>{{ reunion.c_competences.nom_usuel }}</b> ·
					    <span class="date">{{ reunion.reunion_date }}</span>
					    <a data-action="participer-reunion" data-reunion="{{ reunion.reunion_id }}" class="button right">participer</a>
				    </p>
			    	<div class="bottom">
				     	<div>
				     		<span class="icon-clock"></span> {{ reunion.reunion_duree }}h
						</div>
						<div>
				     		<span class="icon-place"></span> {{ reunion.reunion_lieu }}
						</div>
						<div>
				     		<span class="icon-calendar2"></span> <span class="date-calendar">{{ reunion.reunion_date }}</span>
						</div>
						<div>
				     		<p class="reunions-resume"><span class="icon-info3"></span> {{ reunion.reunion_texte }}<p>
						</div>
			     	</div>
		     	</div>
			</li>
		{% endfor %}
	</ul>

	<script type="text/javascript">
	moment.lang('fr');
	$(".liste-reunions .date").each(function()
	{
		var ctn = $(this).text();
		$(this).html(moment(ctn).fromNow());
	});
	$(".liste-reunions .date-calendar").each(function()
	{
		var ctn = $(this).text();
		$(this).html(moment(ctn).calendar());
	});
	$("[data-action='participer-reunion']").click(function(){
		var id = $(this).attr("data-reunion");
		var btn = $(this);
		$.get('Reunion/participer/' + id, function(e)
		{
			if (e == "1")
			{
				btn.html('<span class="icon-checkmark2"></span> Vous etes inscrit');
			}
			else if (e == "-1")
			{
				btn.html('<span class="icon-close"></span> Vous etes désinscrit');
			}
		});
	});
	</script>
</div>
