
		    <li>
		    	<div class="attrs">
		    	{% if reunion.reunion_type > 1 %}
		    		<div data-toggle="tooltip" title="{{ reunion.description_type }}"><span class="icon-{{ reunion.icone_type }}"></span></div>
		    	{% endif %}
		    	</div>
		    	<div class="icon">
		    		<span class="icon-{{ reunion.icone }}"></span>
		    	</div>
		    	<div class="content">
				    <p>
		    			{% if reunion.reunion_type > 1 %}
					    {{ reunion.nom_type }} sur <b>{{ reunion.nom_usuel|default(reunion.nom_competence) }}</b>
					    {% else %}
					    Réunion sur <b>{{ reunion.nom_usuel|default(reunion.nom_competence) }}</b>
		    			{% endif %}
					     · <span class="date">{{ reunion.reunion_date }}</span>

						{# si la reunion est a venir #}
					    {% if not mine and not is_past %}

						    {% if reunion.reunion_id in inscrit %}
						    	<a data-action="participer-reunion" data-reunion="{{ reunion.reunion_id }}" class="button right">se désinscrire</a>
						    {% else %}
						    	<a data-action="participer-reunion" data-reunion="{{ reunion.reunion_id }}" class="button right">participer</a>
						    {% endif %}

						{# si on a participe a la reunion #}
						{% elseif not mine and reunion.reunion_id in inscrit %}

							<span class="simple-text right"><span class="icon-checkmark2"></span> vous avez participé</span>

						{# si on est le créateur de la réunion et qu'elle n'est pas envore passée #}
						{% elseif mine and not is_past %}

						    <a data-action="delete-reunion" data-reunion="{{ reunion.reunion_id }}" class="button right">
						    <span class="icon-close"></span> Annuler
						    </a>

					    {% endif %}

				    </p>
					{# si on a participe a la reunion #}
					{% if not mine and is_past and reunion.reunion_id in inscrit %}
					    <div class="middle">
					    	{% if reunion.reunion_id in feedback %}
					    		<span class="simple-text right"></span>
					    	{% else %}
					    		<a class="button feedback right red" data-reunion="{{ reunion.reunion_id }}" data-feedback="0" data-type="feedback">
					    			<span class="icon-sad2"></span>
					    		</a>
					    		<a class="button feedback right orange" data-reunion="{{ reunion.reunion_id }}" data-feedback="1" data-type="feedback">
					    			<span class="icon-neutral"></span>
					    		</a>
					    		<a class="button feedback right green" data-reunion="{{ reunion.reunion_id }}" data-feedback="2" data-type="feedback">
					    			<span class="icon-smiley"></span>
					    		</a>
					    		<span class="simple-text right">votre avis :</span>
					    	{% endif %}
					    </div>
				    {% endif %}
			    	<div class="bottom">
				     	<div data-placement="bottom" data-toggle="tooltip" title="Durée (approximative) de la réunion">
				     		<span class="icon-clock"></span> {{ reunion.reunion_duree }}h
						</div>
						<div data-placement="bottom" data-toggle="tooltip" title="Lieu de la réunion">
				     		<span class="icon-place"></span> {{ reunion.reunion_lieu }}
						</div>
						<div data-placement="bottom" data-toggle="tooltip" title="Organisateur de la réunion">
				     		<span class="icon-user2"></span> <span class="user">{{ reunion.prenom|lower }} {{ reunion.nom|lower }}</span>
						</div>
						<div data-placement="bottom" data-toggle="tooltip" title="Date de la réunion">
				     		<span class="icon-calendar2"></span> <span class="date-calendar">{{ reunion.reunion_date }}</span>
						</div>
						<div>
				     		<p class="reunions-resume"><span class="icon-info3"></span> {{ reunion.reunion_texte }}<p>
						</div>
			     	</div>
		     	</div>
				{% set count = fetch('c_reunion_participe[id_reunion="'~ reunion.reunion_id ~ '"]')|length %}
				{% set opacity = 0.2 + (count / 10) %}
				<span data-placement="right" data-toggle="tooltip" title="il y a {{ count }} participant(s) inscrit(s)" class="reunion-count right" style="opacity: {{ opacity }}">
					{{ count }}
				</span>
			</li>
