        <div role="simple-row" id="user-one" class="loading">
            <div role="user-name">
                <h1 class="user-card-title">
                    <span class="icon-{{ infos.user_icone }}"></span> {{ infos.prenom|lower }} {{ infos.nom|lower }}
                    <small>
                          - {{ rank }} sur {{ count }}
                    </small>
                </h1>
            </div>
        </div>
