{# 
    Template pour les éléments du formulaire
 #}
<form id="form_{{ name }}" target="#">
    <fieldset>
        <h1><span class="icon-{{ icon }}"></span></h1>
        <h4>{{ bname }}</h4>
        <div class="radio">
            <input type="radio" name="niveau" id="{{ name }}_1" value="1">
            <label for="{{ name }}_1"></label>
        </div>
        <div class="radio">
            <input type="radio" name="niveau" id="{{ name }}_2" value="2">
            <label for="{{ name }}_2"></label>
        </div>
        <div class="radio">
            <input type="radio" name="niveau" id="{{ name }}_3" value="3">
            <label for="{{ name }}_3"></label>
        </div>
        <input type="checkbox" name="want_to_teach" id="wtt_{{ name }}" value="1" {{ wtt_checked }}>
            <label data-toggle="tooltip" title="Je peux aider !" class="want-to-teach" for="wtt_{{ name }}"></label>
        <input type="checkbox" name="want_to_learn" id="wtl_{{ name }}" value="1" {{ wtl_checked }}>
            <label data-toggle="tooltip" title="J'ai besoin d'aide !" class="want-to-learn" for="wtl_{{ name }}"></label>

{#
	Debut du conteneur pour les keywords
#}
				<div class="keywords-container" id="keywords-container-{{ name }}" style="display: none;">
					<input type="text" class="visible helpbox keywords-{{name}}" name="HelpBox" size ="26" placeholder="Décrivez rapidement votre problème" maxlength="35" autofocus>
					<div class="helpbox-counter">35</div>
					<div class="submit-button-{{name}} helpbox-send">
						<a class="button" name="OK">OK!</a>
					</div>
					<script>
						$("div.submit-button-{{name}}").click(function()
						{
							$.ajax({
								type: "POST",
								url: "User/addkeyword",
								data: {"id_competence": "{{id_competence}}", "keywords": $("input.keywords-{{name}}").val()},
								success: function(ret)
								{
									console.log("Succes !", ret);
								}
							});
						});

						$("body").click(function()
						{
							$(".keywords-container").hide();
						});

						$("#wtl_{{name}}").click(function(e)
						{
							e.stopImmediatePropagation();
							if ($(this).is(":checked"))
							{
								$(".keywords-container").hide();
								$("#keywords-container-{{name}}").show();
							}
							else
								$("#keywords-container-{{name}}").hide();
						});

						$("div.submit-button-{{name}}").click(function()
						{
							NProgress.start();
							$("[role='indicator']").html("<span class='icon-checkmark2'></span> Enregistré.");
							NProgress.done();
							$("#keywords-container-{{name}}").hide();
						});

						$(".keywords-{{name}}").click(function(e)
						{
							e.stopImmediatePropagation();
						});

						$(".keywords-{{name}}").keyup(function()
						{
							var idx = 35 - $(this).val().length;

							if (idx <= 5)
								$(this).css("color", "#D95B43");
							else if (idx == 0)
								$(this).css("color", "#9e4838");
							else
								$(this).css("color", "");
							$(this).next().text(idx);
						});
					</script>
				</div>
{#
	Termine haut dessus
#}
        <a class="clear-all" data-items="{{ name }}">
            <span data-toggle="tooltip" title="Supprimer ma note" class="icon-multiply"></span>
        </a>
            <input type="hidden" name="id_competence" value="{{ id_competence }}">
    </fieldset>
</form>
