        <div role="simple-row" id="user-two" class="loading">
                {% if demandes|length or propositions|length %}
                    <h3 class="section-title"><span class="icon-search"></span> Affaires en cours <small>élémentaire, mon cher {{ infos.nom|lower }} !</small></h3>
                    <ul data-role="liste-competences" class="oneline">
                        {% for comp in propositions %}
                            <li class="competence-tabbed" data-ct="{{ section }}">
                                <div class="competence-name">
                                    <p><b><span class="icon-{{ comp.user_icone }}"></span> {{ comp.login }}</b></p>
                                </div> attend ton aide en <b>{{ comp.nom_usuel|default(comp.nom_competence) }}</b> ({{ comp.wtl_keyword }})

                                {# date #}
                                <span class="raw-date" data-date="{{ comp.date }}"></span>

                                {# Gestion des postes #}
                                {% if comp.poste and comp.poste != "" %}
                                    <a class="right online" data-locate data-login="{{ comp.login }}">{{ comp.poste }}</a>
                                {% else %}
                                    <a class="right offline" data-locate data-login="{{ comp.login }}"><span class="icon-plug"></span></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% for comp in demandes %}
                            <li class="competence-tabbed" data-ct="{{ section }}">
                                <div class="competence-name"><p>
                                    <b><span class="icon-{{ comp.user_icone }}"></span> {{ comp.login }}</b>
                                </p></div>

                                {# Gestion des status en cours #}
                                {% if comp.resume == "attente" %}
                                     veut t'aider en <b>{{ comp.nom_usuel|default(comp.nom_competence) }}</b>
                                    <a class="btn accepter-aide" data-competence="{{comp.id_competence}}" data-user="{{comp.id_user}}">
                                        accepter
                                    </a>
                                {% elseif comp.resume == "accepte" %}
                                    ne devrait pas tarder !
                                    <a data-toggle="tooltip" title="Ca va mieux !" class="aide-nice" data-competence="{{comp.id_competence}}" data-user="{{comp.id_user}}">
                                        <span class="icon-uniF7D9"></span>
                                    </a>
                                    <a data-toggle="tooltip" title="C'est toujours un peu flou !" class="aide-not-nice" data-competence="{{comp.id_competence}}" data-user="{{comp.id_user}}">
                                        <span class="icon-uniF7E0"></span>
                                    </a>
                                {% endif %}

                                {# date #}
                                <span class="raw-date" data-date="{{ comp.date }}"></span>

                                {# Gestion des postes #}
                                {% if comp.poste and comp.poste != "" %}
                                    <a class="right online" data-locate data-login="{{ comp.login }}">{{ comp.poste }}</a>
                                {% else %}
                                    <a class="right offline" data-locate data-login="{{ comp.login }}"><span class="icon-plug"></span></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}

                    <h3 class="section-title"><span class="icon-sunglasses"></span> Rien à faire <small>et tu as l'air de t'ennuyer !</small></h3>
                    <h4>Trouve des personnes à aider, et contribue à faire avancer la communautée !</h4>

                    {# Cocher de nouvelles competences #}
                    <div class="half">
                        <p><b>Mets à jour ce que tu aimerait enseigner, ce que tu aimerais apprendre et/ou comprendre, et échange à nouveau !</b></p>
                        <p>
                        Va dans <a data-load-target="User/me"><span class="icon-chef"></span> les projets</a>
                        et clique respectivement sur les icones <span class="icon-student"></span> pour demander de l'aide et <span class="icon-loved"></span> pour aider sur un projet ou un domaine particulier.
                        </p>
                        <div class="panel-bottom">
                            <a class="big-button" data-load-target="User/me">Mettre à jour</a>
                        </div>
                    </div>

                    {# Proposer son aide a de nouvelles personnes #}
                    <div class="half">
                        <p><b>Propose ton aide à de nouvelles personnes, donne un coup de pouce à leur projet, et mets fin à leur détresse</b></p>
                        <p>
                        Consulte la liste des <a data-load-target="Echanges/index"><span class="icon-repeat"></span> échanges</a>
                        et propose ton aide aux autres cadets sur un projet ou un domaine particulier.
                        </p>
                        <div class="panel-bottom">
                            <a class="big-button" data-load-target="Echanges/index">proposer de l'aide</a>
                        </div>
                    </div>

                {% endif %}
        </div>
