{# 
    Template pour les éléments du formulaire
 #}
<form id="form_{{ name }}" target="#">
    <fieldset>
        <h1><span class="icon-{{ icon }}"></span></h1>
        <h4>{{ bname }}</h4>
        <div class="radio">
            <input type="radio" name="niveau" id="{{ name }}_low" value="low">
            <label for="{{ name }}_low"></label>
        </div>
        <div class="radio">
            <input type="radio" name="niveau" id="{{ name }}_med" value="med">
            <label for="{{ name }}_med"></label>
        </div>
        <div class="radio">
            <input type="radio" name="niveau" id="{{ name }}_high" value="high">
            <label for="{{ name }}_high"></label>
        </div>
        <input type="checkbox" name="want_to_teach" id="wtt_{{ name }}" value="1" {{ wtt_checked }}>
            <label data-toggle="tooltip" title="J'aimerais enseigner cette compétence" class="want-to-teach" for="wtt_{{ name }}"></label>
        <input type="checkbox" name="want_to_learn" id="wtl_{{ name }}" value="1" {{ wtl_checked }}>
            <label data-toggle="tooltip" title="J'aimerais apprendre cette compétence" class="want-to-learn" for="wtl_{{ name }}"></label>
        <a class="clear-all" data-items="{{ name }}">
            <span data-toggle="tooltip" title="Supprimer ma note" class="icon-multiply"></span>
        </a>
            <input type="hidden" name="id_competence" value="{{ id_competence }}">
    </fieldset>
</form>