        <div role="simple-row" id="user-one" class="loading">
            <div role="user-name">
                <h1 class="user-card-title">
                    <span class="icon-{{ infos.user_icone }}"></span> {{ infos.prenom|lower }} {{ infos.nom|lower }}
                    <small>
                          - {{ rank }} sur {{ count }}
                        {% if not take_a_tour %}
                          <span class="right"><a onclick="javascipt:Muffin.tour.home()"><span class="icon-supportrequest"></span></a></span>
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>
